USE [master]
GO
/****** Object:  Database [escuela]    Script Date: 5/21/2023 1:56:53 AM ******/
CREATE DATABASE [escuela]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'escuela', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS03\MSSQL\DATA\escuela.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'escuela_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS03\MSSQL\DATA\escuela_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [escuela].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [escuela]
GO
/****** Object:  Table [dbo].[alumnos]    Script Date: 5/21/2023 1:56:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alumnos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[matricula] [varchar](10) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[edad] [int] NOT NULL,
	[sexo] [char](1) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[activo] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
